p body {
  width: 100%;
  height: 100%;
  margin: 0;
}
*{
  margin: 0;
  padding: o;
  box-sizing: border-box;
}
 
.footer{
  background-color: orangered;
  padding: 20px 0;
}
ul{
  list-style: none;
}
.container{
  max-width: 1170px;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.footer-col h3::before{
  width: 25%;
  height: 2px;
  left: 0;
  box-sizing: border-box;
  padding: 0 15px;
  content: '';
}
.footer-col h3{
font-size: 18px;
position: relative;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
  margin-block: ;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
}